body{
    margin: 0 auto;
}

ul li{
    font-family: var(--font-family-serif);
    --font-family-serif: "notoSerifJp", "Noto Serif JP", "游明朝", "Yu Mincho", yumincho, "Hiragino Mincho Pro", serif;
    font-weight: lighter;
}

.head p{
        margin-top: 10px;
        font-family: var(--font-family-serif);
        --font-family-serif: "notoSerifJp", "Noto Serif JP", "游明朝", "Yu Mincho", yumincho, "Hiragino Mincho Pro", serif;
        font-weight: lighter;
}

.head h1{
    font-size: 40px;
}

a{
    cursor: unset;
    text-decoration: none;
    color: black;
}

.language{
    position: fixed;
    top: 20px;
    right: 50px;
    z-index: 100;
    font-weight: 600;
    font-family: "SF Pro JP", sans-serif;
}

.language ul{
    display: flex;
    list-style: none;
}

.language ul li{
    padding-left: 20px;
    padding-right: 20px;
}

.language ul li:nth-child(odd){
    border-right: solid 2px black;
}

.hamburger{
    position: absolute;
    top: 0;
    left: 0;
    /* z-index: 100; */
    width: 100vw;
    height: 100vh;
    background-color: #cccc;
    margin: 0 auto;
    display: none;
}

.hamburger{
    text-align: center;
}

.hamburger.is-active{
    display: flex;
    position: absolute;
    z-index: 200;
    justify-content: center;
    margin: 0 auto;
    position: fixed;
}

.hamburger ul li{
    margin-top: 0px;
    cursor: pointer;
    padding: 30px;
    list-style-type: none;
    color: white;
}

.material-icons-close{
    position: fixed;
    top: 80px;
    right: 80px;
}

.material-icons-close.is-active{
    z-index: 300;
}

.material-icons{
    position: fixed;
    top: 75px;
    right: 50px;
    cursor: pointer;
    font-size: 30px;
    z-index: 100;
}

.material-icons.is-active{
    display: none;
}

.material-icons:hover{
    opacity: .8;
    background-color: #808080;
}

.logo{
    text-align: center;
    margin: 30px;
    cursor: pointer;
    z-index: 100;
}

.logo img{
    width: 120px;
}

.logo h1{
    font-family: "Zapfino";
    font-style: bold;
}

.header{
    margin: 0 auto;
    color: black;
    /* position: absolute; */
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 1;
    width: 100%;
    font-size: 15px;
}

.header ul li{
    list-style-type: none;
}

.header ul li a{
    color: black !important;
}

.reserve_fix{
    position: fixed;
    right: 50px;
    bottom: 50px;
    border-radius: 50%;
    border: 2px solid #808080;
    color: #808080;
    width: 100px;
    height: 100px;
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
}

a{
    cursor: pointer;
}

.reserve_fix:hover{
    opacity: .8;
    background-color: #808080;
    color: white;
}

.header ul li:hover {
    opacity: 0.8;
    background-color: #ddd;
}

.header ul li a{
    display: block !important;
}

body{
    font-family: "josefin-sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background{
    background-image: url(../picture/22600993_m.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

p{
    margin: auto 0;
}

.head{
    color: black;
    margin: 50px;
    margin-top: 75px;
}

.head h1{
    margin: auto 0;
}

#odd img{
    width: 350px;
    height: 350px;
    object-fit: cover;
    object-position: top;
    clip-path: polygon(0 0, 100% 0, 70% 120%, 0 100%);
}

#even img{
    width: 350px;
    height: 350px;
    object-fit: cover;
    object-position: top;
    clip-path: polygon(25% 0, 100% 0, 100% 100%, 0 100%);
}

.member{
    text-align: center;
}

.member h1{
    font-size: 45px;
    padding-bottom: 20px;
    border-bottom: solid 1px grey;
}

.member p{
    font-size: 20px;
    font-weight: lighter;
    opacity: .5;
}

.staff{
    background-color: white;
    text-align: center;
    margin-left: 15%;
    display: flex;
    gap: 50px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    width: 70%;
    gap: 10%;
}

.staff:nth-child(even){
    flex-direction: row-reverse;
    gap: 20%;
}

.discription{
    width: 250px;
    text-align: left;
    padding-left: 25px;
}

a{
    text-decoration: none;
    color: black;
}

.footer{
    margin-top: 30px;
    padding-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
    color: black;
    text-align: left;
    border-top: solid 1px grey;
    padding-bottom: 20px;
}

.footer a{
    cursor: pointer;
}

.f_contact_sns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.f_contact{
    padding: 30px;
    /* border: solid 1px #808080; */
    width: 500px;
    text-align: center;
}

.f_contact:hover{
    color: white;
    background-color: #808080;
}

.f_contact p{
    opacity: .7;
}

#f_contact{
    font-size: 50px;
}

#sns{
    text-align: center;
}

#sns img{
    width: 30px;
}

.f_logo{
    gap: 30px;
    display: flex;
    align-items: center;
}

.logo_mini img{
    width: 100px;
}

#title{
    font-size: 40px;
}

.menu_mini ul{
    display: flex;
    justify-content: space-between;
}

.menu_mini ul li{
    padding: 5px;
    opacity: 0.7;
    list-style: none;
}

.menu_mini ul li:hover{
    opacity: 0.8;
    color: white;
    background-color: #808080;
}

.menu_mini ul li a{
    cursor: pointer;
}

@media (max-width: 1150px){
    .header ul{
        display: none;  
    }
}

@media (min-width: 1100px){
    .header ul{
        display: flex;
        text-align: center;
        width: 80%;
        padding-top: 70px;
        padding-right: 150px;
    }
    
    .header ul li{
        width: 100%;
        text-align: center;
        margin: 0;
        border-right: 1px solid #ddd;
        cursor: pointer;
        transition: all 0.3s;
        height: 40px;
        padding-top: 10px;
        }
    
        .header ul li:first-child{
            border-left: 1px solid #ddd;
        }
    }
    
    @media (max-width: 1100px){
        .header ul{
            margin: 20px;
        }
        .header{
            display: initial;
        }
        .logo{
            position: fixed;
            top: 10px;
            left: 10px;
        }
        .head{
            margin: initial;
            margin-top: 0 !important;
            padding: 50px;
            padding-top: 100px;
        } 
    }

@media(max-width:1000px){
    .content_m img{
        right: -20px;
        bottom: -100px;
        width:350px;
    }
    .f_contact_sns{
        display: initial;
    }
    .f_contact{
        width: initial;
    }
    #sns{
        margin-top: 20px;
        margin-bottom: 20px;
    } 
    #sns a{
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media(max-width:950px){
    .discription h1{
        font-size: 30px;
    }
    .discription p{
        font-size: 15px;
    }
    #odd img{
        width: 200px;
        height: 200px;
    }
    #even img{
        width: 200px;
        height: 200px;
    }
}

@media(max-width:900px){
    #title{
        font-size: 30px;
    }
}

@media(max-width:800px){
    .content_m img{
        right: -100px;
        bottom: -100px;
        width:350px;
    }
}

@media(max-width:750px){
    #title{
        font-size: 20px;
    }
}

@media(max-width:700px){
    .f_logo{
        display: initial;
        text-align: center;
    }
    .logo_mini{
        margin: 30px;
    }
}

@media(max-width:600px){
    .logo img{
        width: 60px;
    }
    .logo img{
        width: 60px;
    }
    .language{
        right: 35px;
    }
    .reserve_fix{
        right: 30px;
        bottom: 30px;
        width: 70px;
        height: 70px;
        font-size: 10px;
        border: solid 0.7px #808080;
    }
    .staff{
        gap: 5%;
    }
    .discription h1{
        font-size: 15px;
    }
    .discription{
        margin-top: 20px;
    }
    .discription p{
        font-size: 7px;
    }
    #odd img{
        width: 150px;
        height: 150px;
    }
    #even img{
        width: 150px;
        height: 150px;
    }
}

@media(max-width:550px){
    #f_contact{
        font-size: 30px;
    }
    .head{
        margin-top: 100px;
    }
}

@media(max-width:500px){
    .menu_mini ul{
        /* display: initial; */
        font-size: 10px;
        padding-left: 0;
    }
    ul{
        padding-left: 0;
    }
    /* .menu_mini ul li{
        line-height: 30px;
    } */
    .staff{
        display: inherit;
    }
    #odd img{
        clip-path: none;
        transform: translate(75px,55px);
        /* border-radius: 5px; */
        border-radius: 50%;
    }
    #even img{
        clip-path: none;
        transform: translate(75px,55px);
        border-radius: 50%;
    }
    .language{
        right: 10px;
    }
    .material-icons{
        right: 25px;
    }
}